@model webchatBTL.Models.SubscriptionPlan

@{
    ViewData["Title"] = "Sửa gói dịch vụ";
}

<h1>Sửa gói dịch vụ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanId" />
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxUsers" class="control-label"></label>
                <input asp-for="MaxUsers" class="form-control" />
                <span asp-validation-for="MaxUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxStorage" class="control-label"></label>
                <input asp-for="MaxStorage" class="form-control" />
                <span asp-validation-for="MaxStorage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

